{% extends 'principal.html'%} {%block conteudo %}
<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<link rel="stylesheet" href="{{url_for('static', filename='css/chat.css')}}" />
<style>
  .chat {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
  }

  .chat span {
    margin-bottom: 10px;
    flex-direction: column;
  }

  form {
    margin-top: 10px;
  }
</style>
<div class="container" style="margin-top: 1%;margin-bottom:-100px;">
  <div class="row clearfix">
    <div class="col w-100" >
      <div class="card chat-app">
        <div id="plist" class="people-list" style="border-top: 1px solid black;">
          <H1 style='font-family:Cambria;'>Contatos</h1>
          <ul class="list-unstyled chat-list mt-2 mb-0">
            {% for nomeContato in range(y) %}
            <li class="clearfix" id="usuario">
              <div hidden=true>{{nome[nomeContato]}}</div>
              <div hidden=true>{{id[nomeContato]}}</div>
              <!--<img width="40px" height="40px" {{url_foto}} alt="perfil" />-->
              <div class="about">
                <div class="nameChat">{{nome[nomeContato]}}</div>
                <div class="status">
                  <i class="fa fa-circle offline"></i> Aluno
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        <script>
          function nome(param){
            let divs = document.getElementsByClassName('div-nome')
            let div = document.getElementById(param)
            let nome_chat = document.getElementById('nome-chat')

            nome_chat.textContent = param

            for(let i = 0; i < divs.length; i++){
              divs[i].className = 'clearfix desactive div-nome chat'
            }

            div.className = 'clearfix active div-nome chat'
          }
        </script>
        <div class="chat">
          <div class="chat-header clearfix">
            <div class="row">
              <div class="col-lg-6">
                <div class="chat-about">
                  <h6 class="m-2" id="nome-chat"></h6>
                </div>
              </div>
            </div>
          </div>
          <div class="chat-history historico">
            <ul class="m-b-0">
              {% for mensagemChat in range(z) %}
              {% if id_usuario == mensagem[mensagemChat][1]%}
                  <div class="message other-message float-right chat">
                    {{mensagem[mensagemChat][3]}}
                  </div>
                {% else %}
                  <div class="message my-message float-right chat">
                    {{mensagem[mensagemChat][3]}}
                  </div>
                  {% endif %}
              </ul>
              {% endfor %}
            </ul>
          </div>
          <form action="{{url_for('chat')}}" id="formChat" method="POST">
            <div class="chat-message clearfix">
              <div class="input-group mb-0">
                <div class="input-group-prepend">
                  <button type="submit" class="input-group-text">Enviar</button>
                </div>
                <input
                  class="form-control"
                  type="text"
                  placeholder="Mensagem"
                  id="mensagemChat"
                  name="mensagemChat"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<div class="chat w-100"></div>
<div>

<script>
  $(function(){
    $('#usuario').click(function(event){ 
        event.preventDefault()
        var usuario = $(this).text()
        let usuario_nome = usuario.split(' ')
        $('#nome-chat').html(`${usuario_nome[0]}`)

        $.ajax({
            url:"/chat",
            type: "GET",
            data: {
                'usuario': usuario,
            },
            dataType: 'json',
            success: function(response){
              console.log('foi')
                /*$('#icidade').show()
                $('#icidade').html('<option value="cidade">Selecione uma Região</option>')
                let cnt = []
                $.each(response, function(key,value){
                    if(cnt.includes(value.CIDADE.trim()) == false){
                        $('#icidade').append(`<option value="${value.CIDADE},${value.ID_CONTATO}" > ${value.CIDADE} </option>`);
                        cnt.push(value.CIDADE.trim())
                    }
                })*/
            }
        });
    })
})
</script>

<script
  src="https://cdn.socket.io/4.5.4/socket.io.min.js"
  integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI"
  crossorigin="anonymous"
></script>
<script>
  window.onload = function () {
    const socket = io("http://127.0.0.1:5000");

    socket.on("connect", () => {
      socket.send("Usuario conectado ao socket!");
    });

    const form = document.querySelector("form").addEventListener("submit", function (event) {
        event.preventDefault();

        socket.emit("sendMessage", {name: event.target[0].value,message: event.target[1].value,
        });
        event.target[0].value = "";
        event.target[1].value = "";
      });

    socket.on("getMessage", (msg) => {
      const span = document.createElement("div");
      const chat = document.querySelector(".chat-history");
      span.innerHTML = `<span class="message other-message float-right">${msg.message}</span>`;
      chat.append(span);

    });
    var form = document.getElementById("formChat");
    form.addEventListener("submit");
  };
</script>
{%endblock %}