{% extends 'principal.html'%}
{%block conteudo %}
<!-- Content -->
<div class="comunicado">
  <div class="w-100 d-flex  justify-content-between">
    <h1>COMUNICADOS</h1>
      <label for="ca" style="cursor: pointer;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-week" viewBox="0 0 16 16">
        <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
      </svg>
    </label>
    <input type="date" name="ca" id="ca">
  </div>
    <div class="com-1">
      <div class="com-1-flex">
        <h3>Comunicado sobre feriadão Dia da Criança e do Professor</h3>
        <h5>09/10/22</h5>
      </div>
      <p>O feriado em comemoração ao Dia do Professor foi antecipado do dia 15 de outubro para 13 de outubro (terça-feira). Portanto, segunda-feira (12/10) e terça-feira (13 /10) não haverá aula. Retornaremos às atividades normais na quarta-feira, dia 14/10.
        Ótimo feriadão a todos! Bom descanso!</p>
      </div>
    
      <div class="com-1">
        <div class="com-1-flex">
          <h3>Jornada de Transformação Digital</h3>
          <h5>09/10/22</h5>
        </div>
        <p>FIESP, CIESP, SENAI-SP e SEBRAE-SP unem forças para fazer o maior programa de transformação digital da história de São Paulo. Com capacidade para atender 40 mil micro, pequenas e médias indústrias, a Jornada de Transformação Digital vai atender empresas de todos os segmentos industriais, com diferentes níveis de maturidade tecnológica, em oito etapas de consultoria e treinamento.</p>
      </div>
    
      <div class="com-1">
        <div class="com-1-flex">
          <h3>Comunicado Importante!</h3>
          <h5>09/10/20</h5>
        </div>
        <p>Gostaríamos de agradecer a compreensão de todos neste atual cenário de Pandemia causada pela COVID-19. O SENAI-SP suspendeu temporariamente as atividades em prol da saúde e segurança de todos nós. Esperamos que essa ação tenha surtido efeito e que todos estejam bem. Agora, é tempo de nos unirmos, mesmo que a distância.
          O SENAI-SP vem investindo em tecnologias educacionais nos últimos anos e, no início deste semestre, os nossos professores intensificaram o uso de algumas ferramentas online, como questionários e simuladores, nas aulas presenciais e em algumas tarefas para os alunos.</p>
        </div>
</div>
    
    <div class="row">  
      
      <a class="col-md-6 col-lg-4 mb-3" style="color: inherit;" href="/tarefas/hdwr">
        <div class="card h-100">
          <div class="card-body">
            <div class="flex-row">
              <div class="flex-column w-100">
                <p class="abv-mat">HDWR</p>
              </div>
              <div class="flex-column">
                <h5 class="card-title">Hardware e Redes</h5>
                <h6 class="card-subtitle text-muted">1° Termo</h6>
              </div>
          </div>
          <p class="card-text text-justify ml-2 mt-1"><strong>Horário:</strong> 7:45 - 11:45 | Seg. e Ter.<br> <strong>Professor(a):</strong> Rafael Pereira </p>
        </div>
      </div>
    </a>

      <a class="col-md-6 col-lg-4 mb-3" style="color: inherit;" href="/tarefas/lalg">
        <div class="card h-100">
          <div class="card-body">
            <div class="flex-row">
              <div class="flex-column w-100">
                <p class="abv-mat">LALG</p>
              </div>
              <div class="flex-column">
                <h5 class="card-title">Lógica e Algoritmo</h5>
                <h6 class="card-subtitle text-muted">1° Termo</h6>
              </div>
            </div>
            <p class="card-text text-justify ml-2 mt-1"><strong>Horário:</strong> 7:45 - 11:45 | Qua. e Sex.<br> <strong>Professor(a):</strong> Mayara Ferreira </p>
          </div>
        </div>
      </a>

    <a class="col-md-6 col-lg-4 mb-3" style="color: inherit;" href="/tarefas/fpoo">
      <div class="card h-100">
        <div class="card-body">
          <div class="flex-row">
            <div class="flex-column w-100">
              <p class="abv-mat">FPOO</p>
            </div>
            <div class="flex-column">
              <h5 class="card-title">Fun. da Programação Orientada a Objeto</h5>
              <h6 class="card-subtitle text-muted">1° Termo</h6>
            </div>
          </div>
          <p class="card-text text-justify ml-2 mt-1"><strong>Horário:</strong> 7:45 - 8:25 | Qua. e Sex.<br> <strong>Professor(a):</strong> Mayara Ferreira </p>
        </div>
      </div>
    </a>

      <a class="col-md-6 col-lg-4 mb-3" style="color: inherit;" href="/tarefas/siso">
        <div class="card h-100">
          <div class="card-body">
            <div class="flex-row">
              <div class="flex-column w-100">
                <p class="abv-mat">SISO</p>
              </div>
              <div class="flex-column">
                <h5 class="card-title">Sistemas Operacionais</h5>
                <h6 class="card-subtitle text-muted">2° Termo</h6>
              </div>
            </div>
            <p class="card-text text-justify ml-2 mt-1"><strong>Horário:</strong> 7:45 - 11:45 | Seg. e Ter.<br> <strong>Professor(a):</strong> Ailton Gonçalves </p>
          </div>
        </div>
      </a>

      <a class="col-md-6 col-lg-4 mb-3" style="color: inherit;" href="/tarefas/lmar">
        <div class="card h-100">
          <div class="card-body">
            <div class="flex-row">
              <div class="flex-column w-100">
                <p class="abv-mat">LMAR</p>
              </div>
              <div class="flex-column">
                <h5 class="card-title">Linguagem de Marcação</h5>
                <h6 class="card-subtitle text-muted">2° Termo</h6>
              </div>
            </div>
            <p class="card-text text-justify ml-2 mt-1"><strong>Horário:</strong> 7:45 - 11:45 | Seg. e Sex. <br> <strong>Professor(a):</strong> Mayara Ferreira </p>
          </div>
        </div>
      </a>


      <a class="col-md-6 col-lg-4 mb-3" style="color: inherit;" href="/tarefas/idm">
        <div class="card h-100">
          <div class="card-body">
            <div class="flex-row">
              <div class="flex-column w-100">
                <p class="abv-mat">IDM</p>
              </div>
              <div class="flex-column">
                <h5 class="card-title">Interface para Dispositivos Móveis</h5>
                <h6 class="card-subtitle text-muted">2° Termo</h6>
              </div>
            </div>
            <p class="card-text text-justify ml-2 mt-1"><strong>Horário:</strong> 7:45 - 11:45 | Ter. e Qui.<br> <strong>Professor(a):</strong> Rafael Pereira </p>
          </div>
        </div>
    </a>

    <a class="col-md-6 col-lg-4 mb-3" style="color: inherit;" href="/tarefas/pwfe">
      <div class="card h-100">
        <div class="card-body">
          <div class="flex-row">
            <div class="flex-column w-100">
              <p class="abv-mat">PWFE</p>
            </div>
            <div class="flex-column">
              <h5 class="card-title">Programação Web Front-End</h5>
              <h6 class="card-subtitle text-muted">2° Termo</h6>
            </div>
          </div>  
        <p class="card-text text-justify ml-2 mt-1"><strong>Horário:</strong> 7:45 - 11:45 | Qua. e Sex.<br> <strong>Professor(a):</strong> Mayara Ferreira </p>
        </div>
      </div>
  </a>

  <a class="col-md-6 col-lg-4 mb-3" style="color: inherit;" href="/tarefas/pwbe">
    <div class="card h-100">
      <div class="card-body">
        <div class="flex-row">
          <div class="flex-column w-100">
            <p class="abv-mat">PWBE</p>
          </div>
          <div class="flex-column">
            <h5 class="card-title">Programação Web Back-End</h5>
            <h6 class="card-subtitle text-muted">2° Termo</h6>
          </div>
        </div>  
      <p class="card-text text-justify ml-2 mt-1"><strong>Horário:</strong> 7:45 - 11:45 | Qua. e Sex.<br> <strong>Professor(a):</strong> Mayara Ferreira </p>
      </div>
    </div>
</a>


    <a class="col-md-6 col-lg-4 mb-3" style="color: inherit;" href="/tarefas/bd">
      <div class="card h-100">
        <div class="card-body">
          <div class="flex-row">
            <div class="flex-column w-100">
              <p class="abv-mat">BD</p>
            </div>
            <div class="flex-column">
              <h5 class="card-title"> Banco de Dados </h5>
              <h6 class="card-subtitle text-muted">2° Termo</h6>
            </div>
          </div>
          <p class="card-text text-justify ml-2 mt-1"><strong>Horário:</strong> 7:45 - 8:25 | Seg. a Qua.<br> <strong>Professor(a):</strong> Mayara Ferreira </p>
        </div>
      </div>
    </a>

    <a class="col-md-6 col-lg-4 mb-3" style="color: inherit;" href="/tarefas/proj">
      <div class="card h-100">
        <div class="card-body">
          <div class="flex-row">
            <div class="flex-column w-100">
              <p class="abv-mat">PROJ</p>
            </div>
            <div class="flex-column">
              <h5 class="card-title">Projeto</h5>
              <h6 class="card-subtitle text-muted">3° Termo</h6>
            </div>
          </div>
          <p class="card-text text-justify ml-2 mt-1"><strong>Horário:</strong> 7:45 - 8:25 | Seg. a Qua.<br> <strong>Professor(a):</strong> Mayara Ferreira </p>
        </div>
      </div>
    </a>

  </div>
    {%endblock %}